fa-icon{
    color:rgb(255, 7, 7);


}

a{
    display:block;
    margin: 30px;
    text-align: center;
    color:rgb(66, 167, 133)
}
a:hover {
    color:aliceblue;
}
/* a:link {
    color: red;
  }
  a:active {
    color: red;
  } */