<h1>Trader Account</h1>
<div class="account-details">

    <div class="trader-details">
        <div class="info">
            <p>First Name</p>
            <a>{{trader?.firstName}}</a>
        </div>
        <div class="info">
            <p>Last Name</p>
            <a>{{trader?.lastName}}</a>
        </div>

        <div class="info">
            <p>Email</p>
            <a>{{trader?.email}}</a>

        </div>
        <div class="info">
            <p></p>
            <a></a>
        </div>

        <div class="info">
            <p>Date of Birth</p>
            <a>{{trader?.dob}}</a>
        </div>
        <div class="info">
            <p>Country</p>
            <a>{{trader?.country}}</a>

        </div>

    </div>
    <div class="amount-details">
        <p>Amount</p>
        <a>{{trader?.amount}}$</a>

    </div>
    <div class="transactions">
        
        <button type="button" (click)="openDialog()">Deposit Funds</button>
        <button>Withdraw Funds</button>

    </div>

</div>

